<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 오류가 나면 오류 타입에 맞춰 오류 처리 jsp로 매핑 -->

	<!-- 404 : page not found. URL에 해당되는 jsp가 없음 -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/error404.jsp</location>
	</error-page>

	<!-- 프로그래밍 오류 -->
	<error-page>
		<error-code>500</error-code>
		<location>/error/error500.jsp</location>
	</error-page>
	
<!-- 	exception 타입별 오류 페이지 지정 -->
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/errorNullPointer.jsp</location>
	</error-page>
	
	
</web-app>
	
